/***************************/

/* General */

:root{
    --font-very-large: 3em;
    --font-large: 2.2em;
    --font-medium: 1.6em;
    --font-normal: 1.2em;
    --font-short: 1em;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

#A4{
    width: 210mm;
    height: 297mm;
    margin: 1em auto;
    font-size: 16px;
    border: solid black 1px;
}

.section-hr > :first-child{
    margin-bottom: 0em;
}

hr{
    color: inherit;
}

/* Nombre */
h1{
    font-size: var(--font-very-large);
}

/* Ocupación */
h2{
    font-size: var(--font-medium);
    color: #3f3f3f;
}

/* Título de apartado profesional (Perfil, Formación, etc.) */
h3{
    font-size: var(--font-large);
    margin: 0.25em 0 0;
}

/* Título de apartado personal (Datos de contacto, Idiomas, etc.)
+
Programas y Lenguajes */
h4{
    font-size: var(--font-medium);
    font-weight: 500;
}

/* Título de proyecto o formación */
h5{
    font-size: var(--font-medium);
    font-weight: 500;
    margin: 0.5em 0 0.1em;
}

/********************************/

/* Flex boxes */

/* Principal flex box */
.flex-prin{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.flex-prin > :first-child{
    flex-basis: 30%;
}

.flex-prin > :last-child{
    flex-basis: 70%;
}


/* Personal flexbox */
.flex-per{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-per > *{
    margin: 1em 0;
}

/* Personal -> Contacto flexbox */
.flex-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


/* Profesional flexbox */
.flex-pro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


/* Profesional -> Subapartado flexbox */
.flex-fech{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* Fecha */
.flex-fech > :first-child{
    flex-basis: 19%;
    text-align: right;
    margin: 1em 0.5em 0.5em;
    
}

/* Título + descripción */
.flex-fech > :last-child{
    flex-basis: 75%;
}


/* Profesional -> Software flexbox */
.flex-soft{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

.flex-soft hr{
    margin: 0 auto;
}

.flex-soft > :first-child, .flex-soft > :last-child{
    width: 42%;
}




/***************************/

/* Personal content */

#personal{
    background-color: rgb(65, 68, 255);
    background-image: linear-gradient(#3f3f3f 10%, rgb(65, 68, 255) 0);
    color: white;
    padding: 1em;
}

#personal h4{
    font-size: 1.5em;
}

#personal ul{
    list-style: none;
    padding: inherit;
}

#personal li{
    margin: 0.25em auto;
}

#intereses ul{
    list-style: disc;
    padding-left: 20px;
}


#personal .section-hr{
    font-size: var(--font-normal);
}

#contacto li{
    margin: 0.75em 0;
}

#contacto span[class*="material"]{
    font-size: var(--font-medium);
    margin-right: 0.25em;
}

#foto{
    margin: 1em 0em 0em;
}

#foto > img{
    width: 70%;
    margin: 0em 15%;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid rgb(65, 68, 255) 5px;
}

#idiomas span:first-child{
    direction: ltr;
}
#idiomas span:last-child{
    direction: rtl;
    float: right;
    
}


/***************************/

/* Profesional content */

#profesional{
    padding: 0em 3%;
}

#nombre{
    margin: 1em 0 1em;
}

#nombre > h1, #nombre > h2{
    margin: 0;
}

#profesional h3, #profesional h4{
    color: rgb(65, 68, 255);
}

#perfil p{
    font-size: var(--font-normal);
    margin: 0.5em 0 0;
}

#experiencia ul{
    margin-bottom: 0;
}

#profesional .section-hr{
    margin-bottom: 1em;
}

.section-hr em{
    font-weight: bold;
}

.section-hr i{
    font-size: var(--font-normal);
    font-weight: bold;
    color: gray;
}

.section-hr p{
    margin: 1em 0 0;
}

#software h4{
    margin: 0.25em auto;
}

#programas, #lenguajes{
    margin: 0 0.5em;
    font-size: var(--font-normal);
}

#software ul{
    margin: 0.1em 0;
}

#software li{
    padding: 0.15em 0;
    font-weight: bold;
}
